<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <header>
            <div class="navbar">
                <div class="nav-item-top">
                    <div class="flip-left">
                        
                        <ul class="flip-left-list">
                            <li class="my-li"><a href="">TengriMix</a></li>
                            <li class="my-li"><a href="">TengriTv</a></li>
                            <li class="my-li"><a href="">TengriTravel</a></li>
                            <li class="my-li"><a href="">Победители</a></li>
                            <li class="my-li"><a href="">Законы Казахстана</a></li>
                            <li class="my-li"><a href="">Спецпроекты</a></li>
                        </ul>

                        <div class="course-list">
                            <ul>
                                <li><span class="course"><i class="icon-dollar"></i></span>442.44</li>
                                <li><span class="course"><i class="icon-euro"></i></span>467.44</li>
                                <li><span class="course"><i class="icon-rouble"></i></span>6.74</li>
                            </ul>
                        </div>
                        <div class="flip-rigth"></div>
                    </div>

                    
                </div>


                <div class="nav-item-bottom">

                    <div class="nav-item-bottom__container">
                        <a href="/"><img src="tn-logo.png" alt=""></a>

                        <div class="adult-block"></div>

                        <div class="type-materials">
                            <ul class="li-materials">
                                <li><a href="">УЗНАЙ</a></li>
                                <li><a href="">ПОЧИТАЙ</a></li>
                                <li><a href="">ПОСМОТРИ</a></li>
                            </ul>
                        </div>
                        <div class="weather">+15 &#176C</div>
                        <div class="language-switcher">Казакша</div>
                        <div class="nav-item">Search</div>
                        <div class="subscribe-whatsapp">
                            <div><p>Присылайте свои новости на</p>
                                <span>WhatsApp +7(777) 001 44 99</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="top-banner"></div>

        <div class="content">
            <div class="bread-crumbs">

                <ul>
                    <li>Главная</li>
                    <li>Узнай</li>
                    <li>Новости</li>
                    <li>Новости Казахстана</li>
                </ul>
            </div>

            <div class="content__title">
                <h2>Перестрелка в Кызылорде: среди погибших - мастер спорта по боксу Куандык Жусип</h2>
            </div>
            <div class="data-list">
                <p>Сегодня</p>
            </div>
            <div class="content__grid">
                <div class="sidebar">
                    <time>Сегодня, 14:45</time>

                    <div class="shared">
                        <ul>
                            <li class="shared__title">Поделиться</li>
                        </ul>

                        <ul class="shared__links">
                            <li><span>Vkontakte</span></li>
                            <li><span>Facebook</span></li>
                            <li><span>Twitter</span></li>
                            <li><span>Однокласники</span></li>
                            <li><span>Telegram</span></li>

                            <span class="shared__count">
                                Новостью поделились: <span class="shared__count" >8</span> человек
                            </span>
                        </ul>

                        

                        <ul class="shared__news">
                            <li class="column-2">Новости</li>
                            <li class="column-2">Новости Казахстана</li>
                            <li class="column-2">Новости Мира</li>
                        </ul>

                    </div>
                </div>

                <div class="news-content">
                    <img src="photo_tn.png" alt="">
                    <article>
                        <p>Среди трех погибших в уличной разборке, которая произошла 7 мая в 
                            Кызылорде, оказался кызылординский спортсмен Куандык Жусип, 
                            передает корреспондент Tengrinews.kz.</p>
                        <p>Казахстанский боксер-профессионал, двукратный серебряный призер 
                            чемпионата мира, действующий "золотой" чемпион мира по версии WBA 
                            Gold Камшыбек Конкабаев, который был знаком с Куандыком 
                            уже несколько лет, подтвердил, что его коллега погиб.</p>
                        <blockquote>
                            <p>"Да, среди погибших в перестрелке, которая произошла 
                            на днях в Кызылорде, к сожалению, оказался и Куандык Жусип. 
                            Мы были знакомы с ним с 2012 года. Не раз вместе тренировались, 
                            ездили на различные сборы по боксу. Очень жаль, что такое случилось", 
                            - сказал известный боксер.</p>
                        </blockquote>
                        <p>
                            Куандык Жусип родился в 1995 году в Жанакорганском районе 
                            Кызылординской области. Он мастер спорта Казахстана по боксу.
                        </p>

                        <p>Как рассказал тренер Сейтжан Токенов, 
                            Куандык подавал большие надежды.</p>

                        <p>"Он был участником различных международных турниров по боксу, 
                            не раз занимал призовые места. К примеру, на последнем международном 
                            турнире, посвященном памяти Абдисамала Нурмаханова, который состоялся в Шымкенте, Куандык занял почетное третье место. Он был неконфликтным человеком, читал намаз, воспитывал троих детей. Недавно устроился охранником на один из городских рынков. 
                            Не знаем, как он попал в эту ситуацию. 
                            Люди выдвигают различные версии, думаем, полиция разберется, 
                            что произошло на самом деле", - добавил он.</p>
                    </article>
                </div>

                <div class="left-banner">
                    <div class="banner">
                        <img src="x300.webp" alt="">
                        <div class="banner__title">
                            Профессия разработчик на Unity   
                        </div>
                    </div>

                    <div class="left-banne-mix">

                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>                 